html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */  
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
h1 {
    color: black;
    text-align: center;
    margin:.7em auto;
}